/.vscode
/a
/Aula 1 - HTLM e CSS
/Aula 10 - Heroku
/Aula 11 - SQL
/Aula 2 - CODELAB HTML e CSS
/Aula 4 - CODELABS Python Flask
/Aula 5 - Calculadora de Dano
/Aula 6 - JavaScript
/Aula 7 - Codelab JavaScript
/Aula 8 - Python Flask JS
/Aula 9 - CODELAB Python Flask JS
/Aula2.rar
/aula9
/BLUE - Mod 2 - Aula 1.a - HTML.pdf
/BLUE - Mod 2 - Aula 1.b - CSS.pdf
/estilo_aula2.css
/index.html
/requirements.txt
/teste
/teste2
/WhatsApp Image 2021-05-07 at 01.06.49.jpeg