<div class="header">
    <div class="bloco">
        <img src="https://i.pinimg.com/originals/7d/cb/9d/7dcb9d003a22de903327173662eff04a.png" width="300" alt="Blue Edtech" />
    </div>
    <div class="bloco">
        <h1>Contagem Regressiva para os Atletas que vão disputar as Olimpiadas de Toquio! </h1>
    </div>
    <div class="bloco">
        <h2>Descubra os atletas brasileiros que marcarão presença neste grande evento!</h2>
        </div>
    <div class="bloco">
        <a href="/create" class="botao">Criar (CREATE)</a>
        <a href="/read" class="botao">Visualizar tudo (READ)</a>
    </div>
</div>    

